#app {
    width: 100%;
}

.transmissionremote-content {
    flex-direction: column;
    width: 100%;
}

.transmissionremote-toolbar {
    width: 100%;
}

.transmissionremote-toolbar a {
    width: 150px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    min-height: 44px;
}

.transmissionremote-toolbar a:hover {
    background-color: rgb(0, 130, 201);
    color: white;
}

.transmissionremote-table {
    width: 100%;
}

.transmissionremote-table table {
    width: 100%;
}

.transmissionremote-table th {
    font-weight: bold;
    padding: 5px 5px;
    border-bottom: 1px solid black;
}

.transmissionremote-table td {
    padding: 5px 5px;
    border-bottom: 1px solid #ddd;
}

.transmissionremote-table th a {
    display: block;
    width: 100%;
    height: 100%;
}

.transmissionremote-toolbar-h {
    display: flex;
}

.transmissionremote-wrapper {
    width: 100%;
    height: 100%;
}

.transmissionremote-center {
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}

.transmissionremote-heavy {
    font-size: 5em;
}