<table class="transmissionremote-table">
    <thead>
    <tr>
        <th>addedDate</th>
        <th>name</th>
        <th>percentDone</th>
        <th>status</th>
    </tr>
    </thead>
    <tbody>
    {{#each torrents}}
        <tr>
            <td>{{dateToStr addedDate}}</td>
            <td>{{name}}</td>
            <td>{{percentDone}}</td>
            <td>{{status}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
